<header class="header">
  <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      {% for page in site.pages %}
        {% if page.title and page.public %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
        <a class="page-link" href="https://github.com/yunho0130" target="_blank">Github</a>
        <a class="page-link" href="https://yunho0130.github.io/feed.xml" target="_blank">RSS</a>
    </nav>
  </div>
</header>